<app-header2></app-header2>


<section class="orderAll headerHight">
    <div class="container">
        <div class="orderHead">
            <h2 class="third">My Orders</h2>
            <p class="head">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
          <div class="orderbtn">
            <ul>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/my-order']" class="btnHover1"><span>Active Orders</span></a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/upcoming-order']" class="btnHover1"><span>Upcoming Orders</span></a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/complete-order']" class="btnHover1"><span>Complete Orders</span></a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/offline-order']" class="btnHover1"><span>Offline Orders</span></a></li>
            </ul>
        </div>
        <div class="orderDetails">
            <div class="row" style="padding-top: 45px;">
                <div class="col-sm-4" style="padding-bottom: 30px;">
                    <div class="orderDetin">
                        <div class="orderDetail">
                            <h2>Order Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Ordered ID</span>
                                    <span class="orderId">#1245783</span>
                                </li>
                                <li>
                                    <span class="id">Schedule For</span>
                                    <span class="orderId">28/05/2021</span>
                                </li>
                                <li>
                                    <span class="id">Order Amount</span>
                                    <span class="orderId">₹ 1,025.00</span>
                                </li>
                            </ul>
                            <h2>Vehicle Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Vehicle Type</span>
                                    <span class="orderId">Mini Truck</span>
                                </li>
                                <li>
                                    <span class="id">Vehicle Plate Number</span>
                                    <span class="orderId">UP 81 A 5412</span>
                                </li>
                                <li>
                                    <span class="id"></span>
                                    <span class="orderId"></span>
                                </li>
                            </ul>
                            <h2>Trip Details</h2>
                            <div class="bookingInner tripdetails">
                                <div class="form-group pd-30 circlebefore circlebefore2">
                                    <label for="" class="lab">Pickup Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="A 87, Street 7, Noida, Utter Pradesh, India"
                                        placeholder="Pickup Address" readonly>
                                 
                                </div>
                                <div class="form-group pd-30 circlebefore circlebefore2 colorgreen bgtranparent">
                                    <label for="" class="lab">Drop Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="B 12, Street 9, Noida, Utter Pradesh, India"
                                        placeholder="Drop Address" readonly>
                                   
                                </div>
                                </div>
                                <div class="trackOrder2 trackOrdernew">
                                    <a href="javascript:void(0)" class="btns red">Cancel Order</a>
                                    <a href="javascript:void(0)" class="btns">View Order</a>
                                </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4" style="padding-bottom: 30px;">
                    <div class="orderDetin">
                        <div class="orderDetail">
                            <h2>Order Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Ordered ID</span>
                                    <span class="orderId">#1245783</span>
                                </li>
                                <li>
                                    <span class="id">Schedule For</span>
                                    <span class="orderId">28/05/2021</span>
                                </li>
                                <li>
                                    <span class="id">Order Amount</span>
                                    <span class="orderId">₹ 1,025.00</span>
                                </li>
                            </ul>
                            <h2>Vehicle Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Vehicle Type</span>
                                    <span class="orderId">Mini Truck</span>
                                </li>
                                <li>
                                    <span class="id">Vehicle Plate Number</span>
                                    <span class="orderId">UP 81 A 5412</span>
                                </li>
                                <li>
                                    <span class="id"></span>
                                    <span class="orderId"></span>
                                </li>
                            </ul>
                            <h2>Trip Details</h2>
                            <div class="bookingInner tripdetails">
                                <div class="form-group pd-30 circlebefore circlebefore2">
                                    <label for="" class="lab">Pickup Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="A 87, Street 7, Noida, Utter Pradesh, India"
                                        placeholder="Pickup Address" readonly>
                                 
                                </div>
                                <div class="form-group pd-30 circlebefore circlebefore2 colorgreen bgtranparent">
                                    <label for="" class="lab">Drop Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="B 12, Street 9, Noida, Utter Pradesh, India"
                                        placeholder="Drop Address" readonly>
                                   
                                </div>
                                </div>
                                <div class="trackOrder2 trackOrdernew">
                                    <a href="javascript:void(0)" class="btns red">Cancel Order</a>
                                    <a href="javascript:void(0)" class="btns">View Order</a>
                                </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4" style="padding-bottom: 30px;">
                    <div class="orderDetin">
                        <div class="orderDetail">
                            <h2>Order Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Ordered ID</span>
                                    <span class="orderId">#1245783</span>
                                </li>
                                <li>
                                    <span class="id">Schedule For</span>
                                    <span class="orderId">28/05/2021</span>
                                </li>
                                <li>
                                    <span class="id">Order Amount</span>
                                    <span class="orderId">₹ 1,025.00</span>
                                </li>
                            </ul>
                            <h2>Vehicle Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Vehicle Type</span>
                                    <span class="orderId">Mini Truck</span>
                                </li>
                                <li>
                                    <span class="id">Vehicle Plate Number</span>
                                    <span class="orderId">UP 81 A 5412</span>
                                </li>
                                <li>
                                    <span class="id"></span>
                                    <span class="orderId"></span>
                                </li>
                            </ul>
                            <h2>Trip Details</h2>
                            <div class="bookingInner tripdetails">
                                <div class="form-group pd-30 circlebefore circlebefore2">
                                    <label for="" class="lab">Pickup Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="A 87, Street 7, Noida, Utter Pradesh, India"
                                        placeholder="Pickup Address" readonly>
                                 
                                </div>
                                <div class="form-group pd-30 circlebefore circlebefore2 colorgreen bgtranparent">
                                    <label for="" class="lab">Drop Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="B 12, Street 9, Noida, Utter Pradesh, India"
                                        placeholder="Drop Address" readonly>
                                   
                                </div>
                                </div>
                                <div class="trackOrder2 trackOrdernew">
                                    <a href="javascript:void(0)" class="btns red">Cancel Order</a>
                                    <a href="javascript:void(0)" class="btns">View Order</a>
                                </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4" style="padding-bottom: 30px;">
                    <div class="orderDetin">
                        <div class="orderDetail">
                            <h2>Order Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Ordered ID</span>
                                    <span class="orderId">#1245783</span>
                                </li>
                                <li>
                                    <span class="id">Schedule For</span>
                                    <span class="orderId">28/05/2021</span>
                                </li>
                                <li>
                                    <span class="id">Order Amount</span>
                                    <span class="orderId">₹ 1,025.00</span>
                                </li>
                            </ul>
                            <h2>Vehicle Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Vehicle Type</span>
                                    <span class="orderId">Mini Truck</span>
                                </li>
                                <li>
                                    <span class="id">Vehicle Plate Number</span>
                                    <span class="orderId">UP 81 A 5412</span>
                                </li>
                                <li>
                                    <span class="id"></span>
                                    <span class="orderId"></span>
                                </li>
                            </ul>
                            <h2>Trip Details</h2>
                            <div class="bookingInner tripdetails">
                                <div class="form-group pd-30 circlebefore circlebefore2">
                                    <label for="" class="lab">Pickup Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="A 87, Street 7, Noida, Utter Pradesh, India"
                                        placeholder="Pickup Address" readonly>
                                 
                                </div>
                                <div class="form-group pd-30 circlebefore circlebefore2 colorgreen bgtranparent">
                                    <label for="" class="lab">Drop Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="B 12, Street 9, Noida, Utter Pradesh, India"
                                        placeholder="Drop Address" readonly>
                                   
                                </div>
                                </div>
                                <div class="trackOrder2 trackOrdernew">
                                    <a href="javascript:void(0)" class="btns red">Cancel Order</a>
                                    <a href="javascript:void(0)" class="btns">View Order</a>
                                </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4" style="padding-bottom: 30px;">
                    <div class="orderDetin">
                        <div class="orderDetail">
                            <h2>Order Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Ordered ID</span>
                                    <span class="orderId">#1245783</span>
                                </li>
                                <li>
                                    <span class="id">Schedule For</span>
                                    <span class="orderId">28/05/2021</span>
                                </li>
                                <li>
                                    <span class="id">Order Amount</span>
                                    <span class="orderId">₹ 1,025.00</span>
                                </li>
                            </ul>
                            <h2>Vehicle Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Vehicle Type</span>
                                    <span class="orderId">Mini Truck</span>
                                </li>
                                <li>
                                    <span class="id">Vehicle Plate Number</span>
                                    <span class="orderId">UP 81 A 5412</span>
                                </li>
                                <li>
                                    <span class="id"></span>
                                    <span class="orderId"></span>
                                </li>
                            </ul>
                            <h2>Trip Details</h2>
                            <div class="bookingInner tripdetails">
                                <div class="form-group pd-30 circlebefore circlebefore2">
                                    <label for="" class="lab">Pickup Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="A 87, Street 7, Noida, Utter Pradesh, India"
                                        placeholder="Pickup Address" readonly>
                                 
                                </div>
                                <div class="form-group pd-30 circlebefore circlebefore2 colorgreen bgtranparent">
                                    <label for="" class="lab">Drop Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="B 12, Street 9, Noida, Utter Pradesh, India"
                                        placeholder="Drop Address" readonly>
                                   
                                </div>
                                </div>
                                <div class="trackOrder2 trackOrdernew">
                                    <a href="javascript:void(0)" class="btns red">Cancel Order</a>
                                    <a href="javascript:void(0)" class="btns">View Order</a>
                                </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4" style="padding-bottom: 30px;">
                    <div class="orderDetin">
                        <div class="orderDetail">
                            <h2>Order Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Ordered ID</span>
                                    <span class="orderId">#1245783</span>
                                </li>
                                <li>
                                    <span class="id">Schedule For</span>
                                    <span class="orderId">28/05/2021</span>
                                </li>
                                <li>
                                    <span class="id">Order Amount</span>
                                    <span class="orderId">₹ 1,025.00</span>
                                </li>
                            </ul>
                            <h2>Vehicle Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Vehicle Type</span>
                                    <span class="orderId">Mini Truck</span>
                                </li>
                                <li>
                                    <span class="id">Vehicle Plate Number</span>
                                    <span class="orderId">UP 81 A 5412</span>
                                </li>
                                <li>
                                    <span class="id"></span>
                                    <span class="orderId"></span>
                                </li>
                            </ul>
                            <h2>Trip Details</h2>
                            <div class="bookingInner tripdetails">
                                <div class="form-group pd-30 circlebefore circlebefore2">
                                    <label for="" class="lab">Pickup Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="A 87, Street 7, Noida, Utter Pradesh, India"
                                        placeholder="Pickup Address" readonly>
                                 
                                </div>
                                <div class="form-group pd-30 circlebefore circlebefore2 colorgreen bgtranparent">
                                    <label for="" class="lab">Drop Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="B 12, Street 9, Noida, Utter Pradesh, India"
                                        placeholder="Drop Address" readonly>
                                   
                                </div>
                                </div>
                                <div class="trackOrder2 trackOrdernew">
                                    <a href="javascript:void(0)" class="btns red">Cancel Order</a>
                                    <a href="javascript:void(0)" class="btns">View Order</a>
                                </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4" style="padding-bottom: 30px;">
                    <div class="orderDetin">
                        <div class="orderDetail">
                            <h2>Order Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Ordered ID</span>
                                    <span class="orderId">#1245783</span>
                                </li>
                                <li>
                                    <span class="id">Schedule For</span>
                                    <span class="orderId">28/05/2021</span>
                                </li>
                                <li>
                                    <span class="id">Order Amount</span>
                                    <span class="orderId">₹ 1,025.00</span>
                                </li>
                            </ul>
                            <h2>Vehicle Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Vehicle Type</span>
                                    <span class="orderId">Mini Truck</span>
                                </li>
                                <li>
                                    <span class="id">Vehicle Plate Number</span>
                                    <span class="orderId">UP 81 A 5412</span>
                                </li>
                                <li>
                                    <span class="id"></span>
                                    <span class="orderId"></span>
                                </li>
                            </ul>
                            <h2>Trip Details</h2>
                            <div class="bookingInner tripdetails">
                                <div class="form-group pd-30 circlebefore circlebefore2">
                                    <label for="" class="lab">Pickup Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="A 87, Street 7, Noida, Utter Pradesh, India"
                                        placeholder="Pickup Address" readonly>
                                 
                                </div>
                                <div class="form-group pd-30 circlebefore circlebefore2 colorgreen bgtranparent">
                                    <label for="" class="lab">Drop Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="B 12, Street 9, Noida, Utter Pradesh, India"
                                        placeholder="Drop Address" readonly>
                                   
                                </div>
                                </div>
                                <div class="trackOrder2 trackOrdernew">
                                    <a href="javascript:void(0)" class="btns red">Cancel Order</a>
                                    <a href="javascript:void(0)" class="btns">View Order</a>
                                </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4" style="padding-bottom: 30px;">
                    <div class="orderDetin">
                        <div class="orderDetail">
                            <h2>Order Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Ordered ID</span>
                                    <span class="orderId">#1245783</span>
                                </li>
                                <li>
                                    <span class="id">Schedule For</span>
                                    <span class="orderId">28/05/2021</span>
                                </li>
                                <li>
                                    <span class="id">Order Amount</span>
                                    <span class="orderId">₹ 1,025.00</span>
                                </li>
                            </ul>
                            <h2>Vehicle Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Vehicle Type</span>
                                    <span class="orderId">Mini Truck</span>
                                </li>
                                <li>
                                    <span class="id">Vehicle Plate Number</span>
                                    <span class="orderId">UP 81 A 5412</span>
                                </li>
                                <li>
                                    <span class="id"></span>
                                    <span class="orderId"></span>
                                </li>
                            </ul>
                            <h2>Trip Details</h2>
                            <div class="bookingInner tripdetails">
                                <div class="form-group pd-30 circlebefore circlebefore2">
                                    <label for="" class="lab">Pickup Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="A 87, Street 7, Noida, Utter Pradesh, India"
                                        placeholder="Pickup Address" readonly>
                                 
                                </div>
                                <div class="form-group pd-30 circlebefore circlebefore2 colorgreen bgtranparent">
                                    <label for="" class="lab">Drop Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="B 12, Street 9, Noida, Utter Pradesh, India"
                                        placeholder="Drop Address" readonly>
                                   
                                </div>
                                </div>
                                <div class="trackOrder2 trackOrdernew">
                                    <a href="javascript:void(0)" class="btns red">Cancel Order</a>
                                    <a href="javascript:void(0)" class="btns">View Order</a>
                                </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-4" style="padding-bottom: 30px;">
                    <div class="orderDetin">
                        <div class="orderDetail">
                            <h2>Order Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Ordered ID</span>
                                    <span class="orderId">#1245783</span>
                                </li>
                                <li>
                                    <span class="id">Schedule For</span>
                                    <span class="orderId">28/05/2021</span>
                                </li>
                                <li>
                                    <span class="id">Order Amount</span>
                                    <span class="orderId">₹ 1,025.00</span>
                                </li>
                            </ul>
                            <h2>Vehicle Details</h2>
                            <ul>
                                <li>
                                    <span class="id">Vehicle Type</span>
                                    <span class="orderId">Mini Truck</span>
                                </li>
                                <li>
                                    <span class="id">Vehicle Plate Number</span>
                                    <span class="orderId">UP 81 A 5412</span>
                                </li>
                                <li>
                                    <span class="id"></span>
                                    <span class="orderId"></span>
                                </li>
                            </ul>
                            <h2>Trip Details</h2>
                            <div class="bookingInner tripdetails">
                                <div class="form-group pd-30 circlebefore circlebefore2">
                                    <label for="" class="lab">Pickup Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="A 87, Street 7, Noida, Utter Pradesh, India"
                                        placeholder="Pickup Address" readonly>
                                 
                                </div>
                                <div class="form-group pd-30 circlebefore circlebefore2 colorgreen bgtranparent">
                                    <label for="" class="lab">Drop Address</label>
                                    <input type="text" class="form-control formControl"
                                        value="B 12, Street 9, Noida, Utter Pradesh, India"
                                        placeholder="Drop Address" readonly>
                                   
                                </div>
                                </div>
                                <div class="trackOrder2 trackOrdernew">
                                    <a href="javascript:void(0)" class="btns red">Cancel Order</a>
                                    <a href="javascript:void(0)" class="btns">View Order</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer>

</app-footer>