<app-header></app-header>
<section class="homebg whybg headerHight" style="background-image:url('assets/imgs/career.png');height: 75vh ;">
</section>
<section class="crareer padding75">
    <div class="container">
        <h2 class="third wow fadeInUp" data-wow-delay="0.3s">Career</h2>
        <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et
            dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
            diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="head wow fadeInUp" data-wow-delay="0.5s">
            Lorem ipsum dolor sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>
</section>
<section class="bhadaExp padding75">
    <div class="container">
        <h2 class="third  wow fadeInUp" data-wow-delay="0.3s">Why work at Bhada Express?</h2>
        <div class="row alignItem">
            <div class="col-sm-6">
                <div class="badhaIn">
                    <h2 class="wow fadeInUp" data-wow-delay="0.4s">Lorem Ipsum</h2>
                    <p class="head wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor
                        sit amet, consetetur sadipscing elitr, sed diam voluptua.Lorem ipsum dolor
                        sit amet, consetetur sadipscing elitr, sed diam voluptua.Lorem ipsum dolor.

                    </p>
                    <h2 class="wow fadeInUp" data-wow-delay="0.5s">Lorem Ipsum</h2>
                    <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor
                        sit amet, consetetur sadipscing elitr, sed diam voluptua.Lorem ipsum dolor
                        sit amet, consetetur sadipscing elitr, sed diam voluptua.Lorem ipsum dolor.

                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bhadaImg wow fadeInLeft" data-wow-delay="0.3s">
                    <img src="assets/imgs/bhada1.png" alt="bhada">
                </div>
            </div>
        </div>
        <div class="row alignItem">
          <div class="col-sm-6">
              <div class="badhaIn">
                  <h2 class="wow fadeInUp" data-wow-delay="0.3s">Lorem Ipsum</h2>
                  <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor
                      sit amet, consetetur sadipscing elitr, sed diam voluptua.Lorem ipsum dolor
                      sit amet, consetetur sadipscing elitr, sed diam voluptua.Lorem ipsum dolor.

                  </p>
                  <h2 class="wow fadeInUp" data-wow-delay="0.3s">Lorem Ipsum</h2>
                  <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor
                      sit amet, consetetur sadipscing elitr, sed diam voluptua.Lorem ipsum dolor
                      sit amet, consetetur sadipscing elitr, sed diam voluptua.Lorem ipsum dolor.

                  </p>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="bhadaImg wow fadeInRight" data-wow-delay="0.3s">
                  <img src="assets/imgs/bhada2.png" alt="bhada">
              </div>
          </div>
      </div>

    </div>
</section>

<section class="jobOpp padding75">
    <div class="container">
        <div class="jobInner">
            <h2 class="second wow fadeInUp" data-wow-delay="0.3s"><span>Jobs Opportunities at Bhada Express</span></h2>
            <p class="head plf pdt wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>

        <div class="jobtable">
            <h2 class="wow fadeInUp" data-wow-delay="0.3s">Open Positions <span>(18 Jobs Positions)</span></h2>
            <div class="table-responsive">          
                <table class="table wow fadeInUp" data-wow-delay="0.4s">
                  <thead>
                    <tr>
                      <th>TITLE</th>
                      <th>DEPARTMENT</th>
                      <th>LOCATION</th>
                 
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td><a href="javascript:void(0)" class ="reserch" data-toggle="modal" data-target="#career" >Research Engineer</a> </td>
                      
                      <td>Software Tech</td>
                      <td>Noida</td>
                    </tr>
                    <tr>
                          <td><a href="javascript:void(0)" class ="reserch" data-toggle="modal" data-target="#career" >Research Engineer</a> </td>
                      
                        <td>Software Tech</td>
                        <td>Noida</td>
                      </tr>
                      <tr>
                          <td><a href="javascript:void(0)" class ="reserch" data-toggle="modal" data-target="#career" >Research Engineer</a> </td>
                      
                        <td>Software Tech</td>
                        <td>Noida</td>
                      </tr>
                      <tr>
                          <td><a href="javascript:void(0)" class ="reserch" data-toggle="modal" data-target="#career" >Research Engineer</a> </td>
                      
                        <td>Software Tech</td>
                        <td>Noida</td>
                      </tr>
                      <tr>
                          <td><a href="javascript:void(0)" class ="reserch" data-toggle="modal" data-target="#career" >Research Engineer</a> </td>
                      
                        <td>Software Tech</td>
                        <td>Noida</td>
                      </tr>
                      <tr>
                          <td><a href="javascript:void(0)" class ="reserch" data-toggle="modal" data-target="#career" >Research Engineer</a> </td>
                      
                        <td>Software Tech</td>
                        <td>Noida</td>
                      </tr>
                      <tr>
                          <td><a href="javascript:void(0)" class ="reserch" data-toggle="modal" data-target="#career" >Research Engineer</a> </td>
                      
                        <td>Software Tech</td>
                        <td>Noida</td>
                      </tr>
                      <tr>
                          <td><a href="javascript:void(0)" class ="reserch" data-toggle="modal" data-target="#career" >Research Engineer</a> </td>
                      
                        <td>Software Tech</td>
                        <td>Noida</td>
                      </tr>
                  </tbody>
                </table>
                </div>
                <div class="paginations paginationsd wow fadeInUp" data-wow-delay="0.5s">
                    <div class="pageleft">
                        <ul>
                            <li><a href="javascript:void(0)" class="active">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)">5</a></li>
                            <li><a href="javascript:void(0)">6</a></li>
                            <li><a href="javascript:void(0)">7</a></li>
                            <li><a href="javascript:void(0)">8</a></li>
                            <li><a href="javascript:void(0)">9</a></li>
                            <li><a href="javascript:void(0)">></a></li>
                        </ul>
                    </div>
                    <div class="selectpag">
                        <h2> Show: <select >
                            <option >10</option>
                            <option >50</option>
                            <option >100</option>
                            <option >All</option>
                        </select></h2>
                    </div>
                </div>
        </div>
    </div>
</section>

<app-footer>

</app-footer>

<!-- Enter Sender Details code start -->

<div class="modal fade" id="career" role="dialog">
    <div class="modal-dialog modalSign" style="max-width: 800px;">
      <div class="modal-content">
  
        <div class="modal-body" style="position: relative;">
          <button type="button" class="close closeed" data-dismiss="modal"><img src="assets/imgs/closeb.png"
              alt="cancle"></button>
  
          <div class="senderDetails">
            <h2 class="small">Research Engineer III</h2>
            <p>Last Date 07/06/2021</p>
  
            <div class="senderForm" style="width: 50%;margin: 75px auto;">
              <div class="form-group " style="position: relative;">
                <span class="userpo">
                  <img src="assets/imgs/user2.svg" alt="phone" style="width: 75%;">
                </span>
                <input type="text" class="form-control formControl2 padding40" placeholder="First Name">
              </div>
              <div class="form-group ">
                
                <input type="date" class="form-control formControl2 " placeholder="Enter Mobile Number">
              </div>
              <div class="form-group " style="position: relative;">
                <span class="userpo">
                  <img src="assets/imgs/phone.svg" alt="phone" style="width: 75%;">
                </span>
                <input type="text" class="form-control formControl2 padding40" placeholder="Enter Mobile Number">
              </div>
              <div class="form-group">
                <div class="yes">
                    <span class="btn_upload">
                        <input type="file" id="imag1" title=""
                            class="input-img" />
                        <i class="fa fa-upload"></i>
                        <p style="font-size: 12px;">Upload video (Optional)</p>
                    </span>
                    <img id="ImgPreview1" src="" class="preview1" />
                    <input type="button" id="removeImage1" value="x"
                        class="btn-rmv1" />
                </div>

            </div>
              <div class="form-group formBtn">
                <button class="btns black">Apply</button>
              </div>
            </div>
        
        </div>
        </div>
  
      </div>
  
    </div>
  </div>
  <!-- Enter Sender Details code end -->