<app-header></app-header>
<section class="homebg whybg" style="background-image:url('assets/imgs/pat.png') ;">

    <div class="whyInner">
        <div class="whyBgAll wow fadeInUp" data-wow-delay="0.3s" style="border: 2px solid #25AAE2;">
            <h2 class="third wow fadeInUp" data-wow-delay="0.4s">Join As Partner</h2>
            <p class="head wow fadeInUp" data-wow-delay="0.5s">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                diam voluptua.
            </p>
        </div>
    </div>

</section>

<section class="benifits">
    <div class="container">
        <div class="benfitInner">
            <h2 class="third wow fadeInUp" data-wow-delay="0.3s">Benefits</h2>
            <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
                Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum,</p>
        </div>
    </div>
</section>

<section class="downloadApp padding75">
    <div class="container">
        <div class="row alignItem">
            <div class="col-sm-5">
                <div class="appLeft wow fadeInLeft" data-wow-delay="0.3s">
                    <img src="assets/imgs/app.png" alt="app">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="appcon">
                    <h2 class="third wow fadeInUp" data-wow-delay="0.4s">Download <span class="colorBlue">Andorid Application</span> <br> if you can
                        register by yourself.</h2>
                    <p class="head wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                        accumsan et viverra</p>
                    <h2 class="third wow fadeInUp" data-wow-delay="0.6s" style="padding-top: 15px;">Download the <span class="androidani"><img
                                src="assets/imgs/android.svg" alt="android"></span> App Now</h2>
                    <div class="phonecode wow fadeInUp" data-wow-delay="0.7s">
                        <input type="text" class="flags" ng2TelInput />
                        <input type="text" class="code" value="+1" readonly>
                        <input type="text" class="form-control formControl" placeholder="Enter Mobile Number">
                    </div>
                    <div class="appbtn wow fadeInUp" data-wow-delay="0.8s">
                        <a href="javascript:void(0)" class="btns">Get App Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="driverForm padding75">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="driverLeft wow fadeInUp" data-wow-delay="0.3s">

                    <h2 class="third">Submit below form to <br> join as Partner</h2>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="alldriverform">
                    <form action="" class="borderform wow fadeInUp" data-wow-delay="0.4s">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control formControl2" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control formControl2" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control formControl2" placeholder="Email Address">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control formControl2"
                                        placeholder="Enter Mobile Number">
                                </div>
                            </div>
                  
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control formControl2">
                                        <option>Select State</option>
                                        <option>Uttar Pradesh</option>
                                        <option>Mizoram</option>
                                        <option>Tamil Nadu</option>
                                        <option>Tripura</option>
                                        <option>Uttarakhand</option>
                                        <option>West Bengal</option>
                                        <option>Andhra Pradesh </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control formControl2">
                                        <option>Select City</option>
                                        <option>Meerut</option>
                                        <option>Hapur</option>
                                        <option>Noida</option>
                                        <option>Kanpur </option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control formControl2"
                                        placeholder="Enter Referral Code">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <a href="javascript:void(0)" class="btns bgblue" data-toggle="modal"
                                        data-target="#myModal">Submit</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="yellowBorder">
    <div class="container">
        <div class="truckInner">
            <div class="truck">
                <img src="assets/imgs/truck_green.png" alt="truck">
            </div>
        </div>
    </div>
</section>


<section class="modelBox">

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="max-width: 700px;">

            <div class="modal-content">

                <div class="modal-body bodypadd" style="position: relative;">
                    <button type="button" class="close closeed" data-dismiss="modal"><img src="assets/imgs/cancel.png" alt="cancle"></button>
                   
                    <div class="modalBody">
                        <h2>Form Submitted</h2>
                        <div class="clock">
                            <img src="assets/imgs/clock.svg" alt="clock">
                        </div>
                        <p>Congratulations, Your request is send to admin.</p>
                        <span><i>For</i></span>
                        <h3>Booking Id: #154328</h3>
                        <h6>The admin will contact you within 24 hours.</h6>
                        <h6><b>Note:</b> <i>You can see your order into the upcoming orders after giving confirmation over the
                            estimated cost provided by the admin over the call.</i></h6>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>
<div class="footerpadd">
    <app-footer>

    </app-footer>
</div>