<app-header2></app-header2>


<section class="headerHight dashboredAll">
    <div class="container">
        <div class="dashIn">
            <ul>
                <li  [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']">Dashboad</a></li>
                <li  [routerLinkActive]="['active']"><a [routerLink]="['/user-listing']">User Listing</a></li>
                <li  [routerLinkActive]="['active']"><a class="active" [routerLink]="['/vehicle']">Vehicles</a></li>
                <li  [routerLinkActive]="['active']"><a [routerLink]="['/orders']">Orders</a></li>
                <li  [routerLinkActive]="['active']"><a [routerLink]="['/stickers']">Stickers</a></li>
                <li  [routerLinkActive]="['active']"><a [routerLink]="['/tasks']">Tasks</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="userListing">
    <div class="container">
    <div class="row">
        <div class="col-sm-8">
            <form action="#" class="newUserss">
            <div class="userInner">
                <h2 class="third">Add A New Vehicle</h2>   
            </div>
       
           <p class="below">Enter below details to upload a new Vehcile:</p>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
        
            <select class="form-control formControl2">
                <option value="">Select Vehicle Categroy</option>
                <option value="">Categroy</option>
                <option value="">Categroy</option>
                <option value="">Categroy</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
          
            <select class="form-control formControl2">
                <option value="">Select Vehicle Body</option>
                <option value="">Body</option>
                <option value="">Body</option>
                <option value="">Body</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="SelectUser">
                <h2 style="padding-top: 0;">NEP Pass</h2>
            </div>
         
            <div class="customRadio">
                <p >
                    <input type="radio" id="testy" name="radio-group2" checked>
                    <label for="testy" class="active">Yes</label>
                  </p>
                  <p>
                    <input type="radio" id="testn" name="radio-group2" >
                    <label for="testn">No</label>
                  </p>
              
               </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="form-group" style="display: inline-block;">
            <div class="yes">
                <span class="btn_upload">
                    <input type="file" id="imag1" title=""
                        class="input-img" />
                    <i class="fa fa-upload"></i>
                    <p>Upload video (Optional)</p>
                </span>
                <img id="ImgPreview1" src="" class="preview1" />
                <input type="button" id="removeImage1" value="x"
                    class="btn-rmv1"/>
            </div>

        </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control formControl2" placeholder="Enter Engine/Chassis Number">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
              
                <select class="form-control formControl2">
                    <option value="">Select Axle</option>
                    <option value="">Select Axle</option>
                    <option value="">Select Axle</option>
                    <option value="">Select Axle</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
              
                <select class="form-control formControl2">
                    <option value="">Select Deed</option>
                    <option value="">Select Deed</option>
                    <option value="">Select Deed</option>
                    <option value="">Select Deed</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
              
                <select class="form-control formControl2">
                    <option value="">Select Vehicle State</option>
                    <option value="">Select Vehicle State</option>
                    <option value="">Select Vehicle State</option>
                    <option value="">Select Vehicle State</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <select class="form-control formControl2">
                    <option value="">Select Vehicle City</option>
                    <option value="">Select Vehicle City</option>
                    <option value="">Select Vehicle City</option>
                    <option value="">Select Vehicle City</option>
                </select> 
            </div>
            <div class="form-group">
                <select class="form-control formControl2">
                    <option value="">Select Fuel Type</option>
                    <option value="">Select Fuel Type</option>
                    <option value="">Select Fuel Type</option>
                    <option value="">Select Fuel Type</option>
                </select> 
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group" style="display: inline-block;">
                <div class="yes">
                    <span class="btn_upload">
                        <input type="file" id="imag2" title=""
                            class="input-img" />
                        <i class="fa fa-upload"></i>
                        <p>Upload video (Optional)</p>
                    </span>
                    <img id="ImgPreview2" src="" class="preview2" />
                    <input type="button" id="removeImage2" value="x"
                        class="btn-rmv2" />
                </div>
    
            </div>
            </div>
            <div class="col-sm-12">
                <div>
                    <p class="below">Enter Vehicle Documents</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
               <input type="text" class="form-control formControl2" placeholder="Enter Owner First Name">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
               <input type="text" class="form-control formControl2" placeholder="Enter Owner Last Name">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control formControl2" placeholder="Enter RC Number">
                </div>
                <div class="form-group">
                    <input  placeholder="Enter RC Expiry Date" class="form-control formControl2" type="text" onfocus="(this.type='date')" id="date">
          
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" style="display: inline-block;">
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag3" title=""
                                class="input-img" />
                            <i class="fa fa-upload"></i>
                            <p>Upload video (Optional)</p>
                        </span>
                        <img id="ImgPreview3" src="" class="preview3" />
                        <input type="button" id="removeImage3" value="x"
                            class="btn-rmv3" />
                    </div>
        
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control formControl2" placeholder="Enter Insaurance Number">
                </div>
                <div class="form-group">
                    <input  placeholder="Enter Insaurance Expiry Date" class="form-control formControl2" type="text" onfocus="(this.type='date')" id="date">
          
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" style="display: inline-block;">
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag4" title=""
                                class="input-img" />
                            <i class="fa fa-upload"></i>
                            <p>Upload video (Optional)</p>
                        </span>
                        <img id="ImgPreview4" src="" class="preview4" />
                        <input type="button" id="removeImage4" value="x"
                            class="btn-rmv4" />
                    </div>
        
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control formControl2" placeholder="Enter Permit Number">
                </div>
                <div class="form-group">
                    <input  placeholder="Enter Permit Expiry Date" class="form-control formControl2" type="text" onfocus="(this.type='date')" id="date">
          
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" style="display: inline-block;">
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag5" title=""
                                class="input-img" />
                            <i class="fa fa-upload"></i>
                            <p>Upload video (Optional)</p>
                        </span>
                        <img id="ImgPreview5" src="" class="preview5" />
                        <input type="button" id="removeImage5" value="x"
                            class="btn-rmv5" />
                    </div>
        
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control formControl2" placeholder="Enter Pollution Number">
                </div>
                <div class="form-group">
                    <input  placeholder="Enter Pollution Expiry Date" class="form-control formControl2" type="text" onfocus="(this.type='date')" id="date">
          
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" style="display: inline-block;">
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag6" title=""
                                class="input-img" />
                            <i class="fa fa-upload"></i>
                            <p>Upload video (Optional)</p>
                        </span>
                        <img id="ImgPreview6" src="" class="preview6" />
                        <input type="button" id="removeImage6" value="x"
                            class="btn-rmv6" />
                    </div>
        
                </div>
            </div>
</div>
          <div class="form-group upd">
              <button class="btns black">Upload Vehicle</button>
          </div>
                </form>
        </div>
    </div>
        </div>
    
</section>

<app-footer>

</app-footer>

