<app-header></app-header>
<section class="homebg whybg" style="background-image:url('assets/imgs/bg2.png') ;">

    <div class="whyInner">
        <div class="whyBgAll wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="third wow fadeInUp" data-wow-delay="0.4s">Why Us</h2>
            <p class="head wow fadeInUp" data-wow-delay="0.5s">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                diam voluptua.
            </p>
        </div>
    </div>

</section>


<section class="whoweare" style="background-image: url('assets/imgs/whobg.png');">
    <div class="container">
        <div class="whoinner">
            <h2 class="third wow fadeInUp" data-wow-delay="0.3s">Who We Are</h2>
            <p class="head plf pdt wow fadeInUp" data-wow-delay="0.4s">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                diam voluptua.
            </p>
        </div>
        <div class="whoAllbox">
            <div class="fullWidth">
                <div class="aboutBox">
                    <div class="trinagle"></div>
                    <h2 class="wow fadeInDown"  data-wow-delay="0.3s">Foundation</h2>
                    <p class="head wow fadeInUp"  data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                </div>
            </div>
            <div class="fullWidth">
                <div class="aboutBox">
                    <div class="trinagle"></div>
                    <h2 class="wow fadeInDown"  data-wow-delay="0.3s">Registered</h2>
                    <p class="head wow fadeInUp"  data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                </div>
            </div>
            <div class="fullWidth">
                <div class="aboutBox">
                    <div class="trinagle"></div>
                    <h2 class="wow fadeInDown"  data-wow-delay="0.3s">Complete 100 Orders</h2>
                    <p class="head wow fadeInUp"  data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                </div>
            </div>
            <div class="fullWidth">
                <div class="aboutBox">
                    <div class="trinagle"></div>
                    <h2 class="wow fadeInDown"  data-wow-delay="0.3s">Complete 1,00,000</h2>
                    <p class="head wow fadeInUp"  data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                </div>
            </div>
            <div class="fullWidth">
                <div class="aboutBox">
                    <div class="trinagle"></div>
                    <h2 class="wow fadeInDown"  data-wow-delay="0.3s">Join 250 team members</h2>
                    <p class="head wow fadeInUp"  data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                        laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ourTeam">
    <div class="container">
        <div class="ourTeamIn">
            <h2 class="second wow fadeInUp" data-wow-delay="0.3s"><span>Who We Are</span></h2>
            <p class="head plf pdt wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="teamMem wow fadeInUp" data-wow-delay="0.3s">
                        <h2 class="third">Our Team</h2>
                        <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                            laoreet. Proin gravida dolor sit amet lacus Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="teamImg wow fadeInUp" data-wow-delay="0.4s">
                        <span class="showflex">
                            <span class="flexdemo">
                                <h2>Deepanshu Tyagi</h2>
                                <p>(UI Developer)</p>
                            </span>
                        </span>
                        <img src="assets/imgs/member1.png" alt="member">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="teamImg  wow fadeInUp" data-wow-delay="0.5s">
                        <span class="showflex">
                            <span class="flexdemo">
                                <h2>Deepanshu Tyagi</h2>
                                <p>(UI Developer)</p>
                            </span>
                        </span>
                        <img src="assets/imgs/member2.png" alt="member">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="teamImg  wow fadeInUp" data-wow-delay="0.6s">
                        <span class="showflex">
                            <span class="flexdemo">
                                <h2>Deepanshu Tyagi</h2>
                                <p>(UI Developer)</p>
                            </span>
                        </span>
                        <img src="assets/imgs/member3.png" alt="member">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="teamImg  wow fadeInUp" data-wow-delay="0.7s">
                        <span class="showflex">
                            <span class="flexdemo">
                                <h2>Deepanshu Tyagi</h2>
                                <p>(UI Developer)</p>
                            </span>
                        </span>
                        <img src="assets/imgs/member3.png" alt="member">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="teamImg  wow fadeInUp" data-wow-delay="0.8s">
                        <span class="showflex">
                            <span class="flexdemo">
                                <h2>Deepanshu Tyagi</h2>
                                <p>(UI Developer)</p>
                            </span>
                        </span>
                        <img src="assets/imgs/member2.png" alt="member">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="teamImg  wow fadeInUp" data-wow-delay="0.9s">
                        <span class="showflex">
                            <span class="flexdemo">
                                <h2>Deepanshu Tyagi</h2>
                                <p>(UI Developer)</p>
                            </span>
                        </span>
                        <img src="assets/imgs/member1.png" alt="member">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="teamImg  wow fadeInUp"  data-wow-delay="0.10s">
                        <span class="showflex">
                            <span class="flexdemo">
                                <h2>Deepanshu Tyagi</h2>
                                <p>(UI Developer)</p>
                            </span>
                        </span>
                        <img src="assets/imgs/member4.png" alt="member">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="teamImg  wow fadeInUp"  data-wow-delay="0.11s">
                        <span class="showflex">
                            <span class="flexdemo">
                                <h2>Deepanshu Tyagi</h2>
                                <p>(UI Developer)</p>
                            </span>
                        </span>
                        <img src="assets/imgs/member5.png" alt="member">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="teamImg  wow fadeInUp"  data-wow-delay="0.12s">
                        <span class="showflex">
                            <span class="flexdemo">
                                <h2>Deepanshu Tyagi</h2>
                                <p>(UI Developer)</p>
                            </span>
                        </span>
                        <img src="assets/imgs/member2.png" alt="member">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="teamImg  wow fadeInUp"  data-wow-delay="0.13s">
                        <span class="showflex">
                            <span class="flexdemo">
                                <h2>Deepanshu Tyagi</h2>
                                <p>(UI Developer)</p>
                            </span>
                        </span>
                        <img src="assets/imgs/member3.png" alt="member">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="teamImg  wow fadeInUp"  data-wow-delay="0.14s">
                        <span class="showflex">
                            <span class="flexdemo">
                                <h2>Deepanshu Tyagi</h2>
                                <p>(UI Developer)</p>
                            </span>
                        </span>
                        <img src="assets/imgs/member1.png" alt="member">
                    </div>
                </div>
            </div>
<div class="teampara">
    <p class="wow fadeInUp" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. </p>
        <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. </p>
            <p class="wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                voluptua. </p>
                <p class="wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et dolore magna aliquyam erat, sed diam voluptua. </p>
                    <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing
                        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        voluptua. </p>
                        <p class="wow fadeInUp" data-wow-delay="0.7s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                            et dolore magna aliquyam erat, sed diam voluptua. </p>
                            <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                                et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing
                                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                voluptua. </p>
                                <p class="wow fadeInUp" data-wow-delay="0.8s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                                    et dolore magna aliquyam erat, sed diam voluptua. </p>
</div>
        </div>
    </div>
</section>

<app-footer>

</app-footer>