<header class="header1">
    <div class="container">
        <div class="headerInner">
            <div class="headerLogo">
                <a [routerLink]="['/']">
                    <img src="assets/imgs/logo.png" alt="logo" style="width: 175px;">
                </a>
            </div>
            <div class="headerRight">
                <ul>
                    <li   ><a [routerLink]="['/']" class="hhover">Home</a></li>
                    <li   ><a [routerLink]="['/why-us']" class="hhover">Why Us</a></li>
                    <li   ><a [routerLink]="['/careers']" class="hhover">Careers</a></li>
                    <li   ><a [routerLink]="['/our-service']" class="hhover">Our Services</a></li>
                    <li   ><a [routerLink]="['/app-features']" class="hhover">App Features</a></li>
                </ul>
                <ul class="ulLi">
                    <li class="joinPos"><a href="javascript:void(0)" class="joinUs">
                            <span class="truckss"><img src="assets/imgs/truck.svg" alt="truck"
                                    style="max-width: 55px;"></span>
                            <span class="drive">Drive With Us</span>
                            <span class="joinBtn">Join Us</span>
                        </a>
                        <div class="joinDrop">
                            <ul>
                                <li><a [routerLink]="['/join-driver']">As Driver</a></li>
                                <li><a [routerLink]="['/join-associate']">As Associate</a></li>
                                <li><a [routerLink]="['/join-partner']">As Our Partner</a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a href="javascript:void(0)" [routerLink]="['/myaccount']"  class="profilee">
                            <img src="assets/imgs/profile.png" alt="profile">
                        </a></li>

                    <li class="notificationAll"><a href="javascript:void(0)" class="notification"><i
                                class="fa fa-bell"></i></a>
                        <div class="notiAl">
                            <ul>
                                <li><a href="javascript:void(0)">
                                        <div class="notiGs">
                                            <img src="assets/imgs/loca.svg" alt="location">
                                        </div>
                                        <div class="locationCon">
                                            <h2>Order Cancelled By You <span>10:20 PM</span></h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Aenean euismod
                                                bibendum</p>
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0)">
                                        <div class="notiGs">
                                            <img src="assets/imgs/loca2.svg" alt="location">
                                        </div>
                                        <div class="locationCon">
                                            <h2>Order Cancelled By You <span>10:20 PM</span></h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Aenean euismod
                                                bibendum</p>
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0)">
                                        <div class="notiGs">
                                            <img src="assets/imgs/loca.svg" alt="location">
                                        </div>
                                        <div class="locationCon">
                                            <h2>Order Cancelled By You <span>10:20 PM</span></h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Aenean euismod
                                                bibendum</p>
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0)">
                                        <div class="notiGs">
                                            <img src="assets/imgs/loca2.svg" alt="location">
                                        </div>
                                        <div class="locationCon">
                                            <h2>Order Cancelled By You <span>10:20 PM</span></h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Aenean euismod
                                                bibendum</p>
                                        </div>
                                    </a></li>
                                    <li><a href="javascript:void(0)">
                                        <div class="notiGs">
                                            <img src="assets/imgs/loca.svg" alt="location">
                                        </div>
                                        <div class="locationCon">
                                            <h2>Order Cancelled By You <span>10:20 PM</span></h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Aenean euismod
                                                bibendum</p>
                                        </div>
                                    </a></li>
                            </ul>
                        </div>
                    </li> 

                </ul>
            </div>
        </div>
    </div>
</header>

<app-home-model></app-home-model>