<app-header2></app-header2>


<section class="detailpagr headerHight">
    <div class="container">
        <div class="ditalPagein">
            <h2 class="third" style="text-align: left;">Order Detail</h2>
        </div>
    </div>
    <div class="goodDetails">
        <div class="demogood">
            <div class="container">
                <h2>Good Details</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="goodOrder">
                        <p>Order Id</p>
                        <h2>#BHD256326</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="goodOrder">
                        <p>Order Date & Time</p>
                        <h2>20/05/2021 & 15:12</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="goodOrder">
                        <p>Order Amount</p>
                        <h2 class="amount">Rs. 1040.00</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="goodOrder">
                        <p>Order will Deliver On</p>
                        <h2>20/05/2021 & 15:12</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="goodOrder">
                        <p>Order Status</p>
                        <h2><span class="colorGreen">Active</span></h2>
                    </div>
                </div>
            </div>
            <div class="truckOrder">
                <ul>
                    <li class="active">
                        <span class="topspan">On 20/05/2021 & 15:12</span>
                        <span class="lowspan">Booking Request Placed</span>
                    </li>

                    <li class="active">
                        <span class="topspan">On 20/05/2021 & 19:20</span>
                        <span class="lowspan">Booking Accepted</span>
                    </li>
                    <li class="active">
                        <span class="topspan">On 21/05/2021 & 14:30</span>
                        <span class="lowspan">Reached On Pickup Location</span>
                    </li>
                    <li class="active">
                        <span class="topspan">On 21/05/2021 & 15:30</span>
                        <span class="lowspan">Good Loaded</span>
                    </li>
                    <li class="active">
                        <span class="topspan">On 21/05/2021 & 15:35</span>
                        <span class="lowspan">Driver Out For Delivery</span>
                    </li>
                    <li>
                        <!-- <span class="topspan"></span>  -->
                        <span class="lowspan">Reached On Drop Location</span>
                    </li>
                    <li>
                        <!-- <span class="topspan"></span>  -->
                        <span class="lowspan">Good Unloaded</span>
                    </li>
                    <li>
                        <!-- <span class="topspan"></span>  -->
                        <span class="lowspan">Booking Completed</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="goodDetails">
            <div class="demogood">
                <div class="container">
                    <h2>Vehicle Details</h2>
                </div>
            </div>
            <div class="container">
                <div class="row" style="padding-bottom: 35px;">
                    <div class="col-sm-4">
                        <div class="goodOrder">
                            <p>Vehicle Type</p>
                            <h2>#BHD256326</h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="goodOrder">
                            <p>Vehicle Plate Number</p>
                            <h2>UP 81 A 5432</h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="goodOrder">
                            <p>Vehicle Size</p>
                            <h2 class="">7x12x6 Feet</h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="goodOrder">
                            <p>Vehicle Assigned To</p>
                            <h2>Mr. Ashok Singh</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="goodDetails">
            <div class="demogood">
                <div class="container">
                    <h2>Trip Details</h2>
                </div>
            </div>
            <div class="makebooking" style="margin: 35px 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 paddingzero">
                            <div class="bokkingCon bokkingCon2">
                                <div class="bookingInner">
                                    <div class="form-group pd-l60 circlebefore">
                                        <label for="" class="lab">Pickup Address</label>
                                        <input type="text" class="form-control formControl"
                                            value="A 87, Street 7, Noida, Utter Pradesh, India"
                                            placeholder="Pickup Address" readonly>

                                    </div>
                                    <div class="form-group pd-l60 circlebefore colorgreen ">
                                        <label for="" class="lab">Drop Address</label>
                                        <input type="text" class="form-control formControl"
                                            value="B 12, Street 9, Noida, Utter Pradesh, India"
                                            placeholder="Drop Address" readonly>

                                    </div>
                                    <div class="form-group pd-l60 circlebefore colorgreen circleyellow bgtranparent">
                                        <label for="" class="lab">Drop Point 2nd</label>
                                        <input type="text" class="form-control formControl"
                                            value="B 12, Street 9, Noida, Utter Pradesh, India"
                                            placeholder="Drop Address" readonly>

                                    </div>



                                </div>
                                <div class="expert">
                                    <div class="goodOrder">
                                        <p>Expected Delivert Time</p>
                                        <h2>2 Days : 15 Hours : 12 Minutes</h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 paddingzero">
                            <div class="bookingMap">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3635689.793072721!2d80.8833819!3d27.141237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1625120690058!5m2!1sen!2sin"
                                    width="100%" height="100%" style="border:0;" allowfullscreen=""
                                    loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="goodDetails">
            <div class="demogood">
                <div class="container">
                    <h2>Good Details</h2>
                </div>
            </div>
            <div class="container">
                <div class="row" style="margin-bottom: 35px;">
                    <div class="col-sm-4">
                        <div class="goodOrder">
                            <p>Good Name</p>
                            <h2>Plastic/Rubber Goods</h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="goodOrder">
                            <p>Insaurance</p>
                            <h2><span><img src="assets/imgs/tick.svg" alt="tick" style="width: 20px;
                                    margin-right: 5px;"></span> Yes</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="goodDetails">
            <div class="demogood">
                <div class="container">
                    <h2>Order Amount Breakdown</h2>
                </div>

            </div>
            <div class="container">
                <ul class="orderam" style="margin: 35px 0px;">
                    <li><span class="orderamt">Freight Amount</span>
                        <span class="orderval">Rs. 1,000.00</span>
                    </li>
                    <li><span class="orderamt">Toll Amount</span>
                        <span class="orderval">Rs. 25.00</span>
                    </li>
                    <li><span class="orderamt">MCD Taxes</span>
                        <span class="orderval">Rs. 15.00</span>
                    </li>
                    <li><span class="orderamt">Applied Coupon Discount</span>
                        <span class="orderval">- Rs. 15.00</span>
                    </li>
                    <li style="background: #F0F0F0;"><span class="orderamt"> Total Order Amount to Pay</span>
                        <span class="orderval">   Rs. 1,040.00</span>
                    </li>
                </ul>
                <div class="orderAlbt">
                    <a href="javascript:void(0)" class="btns">Connect To Support Team</a>
                </div>
            </div>
        </div>
    </div>
</section>    

<app-footer></app-footer>