<app-header></app-header>
<section class="homebg whybg" style="background-image:url('assets/imgs/mg.png') ;">

    <div class="whyInner">
        <div class="whyBgAll wow fadeInUp" data-wow-delay="0.3s" style="border: 2px solid #25AAE2;">
            <h2 class="third wow fadeInUp" data-wow-delay="0.4s">Our Sevices</h2>
            <p class="head wow fadeInUp" data-wow-delay="0.5s">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                diam voluptua.
            </p>
        </div>
    </div>

</section>


<section class="serviceList padding75">
    <div class="container">
        <div class="serviceInn">
            <h2 class="second wow fadeInUp" data-wow-delay="0.3s"><span>Service Listings</span></h2>
            <p class="head plf pdt wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInLeft" data-wow-delay="0.3s" style="padding-top: 20px;">
                        <img src="assets/imgs/truck1.png" alt="truck" style="width: 90%;">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon">
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">FTL Service</h2>
                        <h3 class="wow fadeInUp" data-wow-delay="0.4s">Full Truck Load</h3>
                        <p class="head wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head wow fadeInUp" data-wow-delay="0.7s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <a  [routerLink]="['/our-service2']" class="btns btnHover1 wow fadeInUp" data-wow-delay="0.8s"><span>Read More</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInRight" data-wow-delay="0.4s" style="padding-top: 20px;">
                        <img src="assets/imgs/our2.png" alt="truck" style="width: 90%;">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon">
                        <h2 class="border-bottom2 wow fadeInUp" data-wow-delay="0.3s">Movers & Packers Service</h2>
                        
                        <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                       <a  [routerLink]="['/our-service2']" class="btns btnHover1 wow fadeInUp" data-wow-delay="0.7s"><span>Read More</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInLeft" data-wow-delay="0.5s" style="padding-top: 20px;">
                        <img src="assets/imgs/our3.png" alt="truck" style="width: 90%;">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon">
                        <h2 class="border-bottom2 wow fadeInUp" data-wow-delay="0.3s">Order Tracking Service</h2>
                        
                        <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                       <a  [routerLink]="['/our-service2']" class="btns btnHover1 wow fadeInUp" data-wow-delay="0.7s"><span>Read More</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInRight" data-wow-delay="0.4s" style="padding-top: 20px;">
                        <img src="assets/imgs/our4.png" alt="truck" style="width: 90%;">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon">
                        <h2 class="border-bottom2 wow fadeInUp" data-wow-delay="0.3s">Cab/Taxi Service</h2>
                        
                        <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                       <a  [routerLink]="['/our-service2']" class="btns btnHover1 wow fadeInUp" data-wow-delay="0.7s"><span>Read More</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInLeft" data-wow-delay="0.4s" style="padding-top: 20px;">
                        <img src="assets/imgs/our5.png" alt="truck" style="width: 90%;">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon">
                        <h2 class="border-bottom2 wow fadeInUp" data-wow-delay="0.3s">Grocery Delivery Service</h2>
                        
                        <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                       <a  [routerLink]="['/our-service2']" class="btns btnHover1 wow fadeInUp" data-wow-delay="0.7s"><span>Read More</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInRight" data-wow-delay="0.4s" style="padding-top: 20px;">
                        <img src="assets/imgs/our6.png" alt="truck" style="width: 90%;">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon">
                        <h2 class="border-bottom2 wow fadeInUp" data-wow-delay="0.3s">Courier Services</h2>
                        
                        <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                       <a  [routerLink]="['/our-service2']" class="btns btnHover1 wow fadeInUp" data-wow-delay="0.7s"><span>Read More</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer>

</app-footer>