<app-header2></app-header2>


<section class="detailpagr headerHight">
    <div class="container">
        <div class="ditalPagein Confirmation">
            <h2 class="third">Order Confirmation</h2>
        </div>
    </div>

  
     
        
        <div class="goodDetails">
            <div class="demogood">
                <div class="container">
                    <h2>Trip Details</h2>
                </div>
            </div>
            <div class="makebooking" style="margin: 35px 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 paddingzero">
                            <div class="bokkingCon bokkingCon2">
                                <div class="bookingInner">
                                    <div class="form-group pd-l60 circlebefore">
                                        <label for="" class="lab">Pickup Address</label>
                                        <input type="text" class="form-control formControl"
                                            value="A 87, Street 7, Noida, Utter Pradesh, India"
                                            placeholder="Pickup Address" readonly>

                                    </div>
                                    <div class="form-group pd-l60 circlebefore colorgreen ">
                                        <label for="" class="lab">Drop Address</label>
                                        <input type="text" class="form-control formControl"
                                            value="B 12, Street 9, Noida, Utter Pradesh, India"
                                            placeholder="Drop Address" readonly>

                                    </div>
                                    <div class="form-group pd-l60 circlebefore colorgreen circleyellow bgtranparent">
                                        <label for="" class="lab">Drop Point 2nd</label>
                                        <input type="text" class="form-control formControl"
                                            value="B 12, Street 9, Noida, Utter Pradesh, India"
                                            placeholder="Drop Address" readonly>

                                    </div>



                                </div>
                                <div class="expert">
                                    <div class="goodOrder">
                                        <p>Expected Delivert Time</p>
                                        <h2>2 Days : 15 Hours : 12 Minutes</h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 paddingzero">
                            <div class="bookingMap">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3635689.793072721!2d80.8833819!3d27.141237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1625120690058!5m2!1sen!2sin"
                                    width="100%" height="100%" style="border:0;" allowfullscreen=""
                                    loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="goodDetails">
            <div class="demogood">
                <div class="container">
                    <h2>Good Details</h2>
                </div>
            </div>
            <div class="container">
                <div class="row" style="margin-bottom: 35px;">
                    <div class="col-sm-4">
                        <div class="goodOrder">
                            <p>Good Name</p>
                            <h2>Plastic/Rubber Goods</h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="goodOrder">
                            <p>Insaurance</p>
                            <h2><span><img src="assets/imgs/tick.svg" alt="tick" style="width: 20px;
                                    margin-right: 5px;"></span> Yes</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="goodDetails">
            <div class="demogood">
                <div class="container">
                    <h2>GST Details</h2>
                </div>
            </div>
         <div class="container">
            <div class="row" style="padding: 35px 0px;">
                <div class="col-sm-12">
                    <div class="new new2">

                        <div class="form-group ">
                          <input type="checkbox" id="Details">
                          <label for="Details" class="checkClick">GST Details <span class="colorgray">(Optional)
                            </span></label>
                        </div>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="gstDetails">
                        <div class="form-group">
                            <input type="text" class="form-control formControl2" placeholder="Enter Gst Number">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control formControl2" placeholder="Enter Gst Number">
                        </div>
                        <div class="form-group">
                         <a href="javascript:void(0)" class="coupon"><img src="assets/imgs/coupon.svg" alt="coupon" style="margin-right: 15px;"> Apply Coupon</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <textarea class="form-control formControl2"  rows="4" placeholder="GST Address"></textarea>
                    </div>
                </div>
            </div>
         </div>
        </div>
        <div class="goodDetails">
            <div class="demogood">
                <div class="container">
                    <h2>Order Amount Breakdown</h2>
                </div>

            </div>
            <div class="container">
                <ul class="orderam" style="margin: 35px 0px;">
                    <li><span class="orderamt">Freight Amount</span>
                        <span class="orderval">Rs. 1,000.00</span>
                    </li>
                    <li><span class="orderamt">Toll Amount</span>
                        <span class="orderval">Rs. 25.00</span>
                    </li>
                    <li><span class="orderamt">MCD Taxes</span>
                        <span class="orderval">Rs. 15.00</span>
                    </li>
                    <li><span class="orderamt">Applied Coupon Discount</span>
                        <span class="orderval">- Rs. 15.00</span>
                    </li>
                    <li style="background: #F0F0F0;"><span class="orderamt"> Total Order Amount to Pay</span>
                        <span class="orderval">   Rs. 1,040.00</span>
                    </li>
                </ul>
  
            </div>
        </div>
        <div class="goodDetails">
            <div class="demogood">
                <div class="container">
                    <h2>Payment Mode</h2>
                </div>

            </div>
            <div class="container">
              <div class="row" style="    padding: 25px 0px 35px 0px;">
                <div class="col-sm-4">
                    <div class="paymentMode">
                        <div class="SelectUser">
                            <h2>Select Payment Mode</h2>
                        </div>
                     
                        <div class="customRadio">
                            <p >
                                <input type="radio" id="test81" name="radio-group8" checked>
                                <label for="test81" >Online</label>
                              </p>
                              <p >
                                <input type="radio" id="test91" name="radio-group8" >
                                <label for="test91">Cash</label>
                              </p>
                         
                           </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="paymentMode">
                        <div class="SelectUser">
                            <h2>Select Cash Collection Point</h2>
                        </div>
                     
                        <div class="customRadio">
                            <p >
                                <input type="radio" id="test8" name="radio-group5" checked>
                                <label for="test8" >On Pick-up Point</label>
                              </p>
                              <p >
                                <input type="radio" id="test9" name="radio-group5" >
                                <label for="test9">On Drop Point</label>
                              </p>
                         
                           </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="new new2" style="padding-top: 25px;">

                        <div class="form-group ">
                          <input type="checkbox" id="accepting">
                          <label for="accepting" class="checkClick">I  am accepting  <span class="colorgray">Term & Conditions
                            </span></label>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group Booker">
                        <button class="btns black" data-toggle="modal"
                        data-target="#myModal">Confirm Booking</button>
                    </div>
                </div>
              </div>
            </div>
            </div>
        
</section>    


<app-footer>

</app-footer>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="max-width: 700px;">

        <div class="modal-content">

            <div class="modal-body bodypadd" style="position: relative;">
                <button type="button" class="close closeed" data-dismiss="modal"><img src="assets/imgs/cancel.png" alt="cancle"></button>
               
                <div class="modalBody">
                    <h2>Form Submitted</h2>
                    <div class="clock">
                        <img src="assets/imgs/clock.svg" alt="clock">
                    </div>
                    <p>Congratulations, Your request is send to admin.</p>
                    <span><i>For</i></span>
                    <h3>Booking Id: #154328</h3>
                    <a href="javascript:void(0)" class="btns black homepage">Go To Home Page</a>
                    <h6>The admin will contact you within 24 hours.</h6>
                    <h6><b>Note:</b> <i>You can see your order into the upcoming orders after giving confirmation over the
                        estimated cost provided by the admin over the call.</i></h6>
                </div>
            </div>

        </div>

    </div>
</div>