<div class="vichleSlider">

    <owl-carousel-o [options]="customOptions3">
        <ng-template carouselSlide>
            <div class="vicleDet">
                <div class="vicheHead">
                    <h6>Truck</h6>
                </div>
                <div class="tuckImg">
                    <img src="assets/imgs/tk1.svg" alt="tk" class="tk">
                    <p>5 mins</p>
                    <h4>1,000.00/-</h4>
                    <h5>700.00/-</h5>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="vicleDet">
                <div class="vicheHead">
                    <h6>Mini Truck</h6>
                </div>
                <div class="tuckImg">
                    <img src="assets/imgs/tk1.svg" alt="tk" class="tk">
                    <p>5 mins</p>
                    <h4>1,000.00/-</h4>
                    <h5>700.00/-</h5>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="vicleDet">
                <div class="vicheHead">
                    <h6>Champion</h6>
                </div>
                <div class="tuckImg">
                    <img src="assets/imgs/tk1.svg" alt="tk" class="tk">
                    <p>5 mins</p>
                    <h4>1,000.00/-</h4>
                    <h5>700.00/-</h5>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="vicleDet">
                <div class="vicheHead">
                    <h6>Pickup 8ft</h6>
                </div>
                <div class="tuckImg">
                    <img src="assets/imgs/tk1.svg" alt="tk" class="tk">
                    <p>5 mins</p>
                    <h4>1,000.00/-</h4>
                    <h5>700.00/-</h5>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="vicleDet">
                <div class="vicheHead">
                    <h6>Truck</h6>
                </div>
                <div class="tuckImg">
                    <img src="assets/imgs/tk1.svg" alt="tk" class="tk">
                    <p>5 mins</p>
                    <h4>1,000.00/-</h4>
                    <h5>700.00/-</h5>
                </div>
            </div>
        </ng-template>

    </owl-carousel-o>


</div>