<app-header></app-header>
<section class="homebg whybg" style="background-image:url('assets/imgs/app2.png') ;">

<div class="container" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="col-sm-6">
            <div class="phone wow fadeInLeft" data-wow-delay="0.3s">
                <img src="assets/imgs/ph.svg" alt="ph" style="width: 52%;">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="whyInner" style="width: 100%;">
                <div class="whyBgAll wow fadeInUp" data-wow-delay="0.3s">
                    <h2 class="third wow fadeInUp" data-wow-delay="0.4s">App Features</h2>
                    <p class="head wow fadeInUp" data-wow-delay="0.5s">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                        diam voluptua.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</section>


<section class="serviceList padding75">
    <div class="container">
        <div class="serviceInn">
            <h2 class="second wow fadeInUp" data-wow-delay="0.3s"><span>Service Listings</span></h2>
            <p class="head plf pdt wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInLeft" data-wow-delay="0.3s" style="padding-top: 20px;">
                        <img src="assets/imgs/app.png" alt="truck">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon serviceCon5">
                        <h2 class="border-bottom2 wow fadeInUp" data-wow-delay="0.4s">Heading</h2>
                      
                        <p class="head wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head wow fadeInUp" data-wow-delay="0.7s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                    <ul class="phonebtns wow fadeInUp" data-wow-delay="0.8s">
                        <li><a href="javascript:void(0)"><img src="assets/imgs/appm.png" alt="app"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/google.png" alt="google"></a></li>
                    
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInRight" data-wow-delay="0.3s" style="padding-top: 20px;">
                        <img src="assets/imgs/app.png" alt="truck">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon serviceCon5">
                        <h2 class="border-bottom2 wow fadeInUp" data-wow-delay="0.4s">Heading</h2>
                      
                        <p class="head wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head wow fadeInUp" data-wow-delay="0.7s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                    <ul class="phonebtns wow fadeInUp" data-wow-delay="0.8s">
                        <li><a href="javascript:void(0)"><img src="assets/imgs/appm.png" alt="app"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/google.png" alt="google"></a></li>
                    
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInLeft" data-wow-delay="0.3s" style="padding-top: 20px;">
                        <img src="assets/imgs/app.png" alt="truck">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon serviceCon5">
                        <h2 class="border-bottom2 wow fadeInUp" data-wow-delay="0.4s">Heading</h2>
                      
                        <p class="head wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head wow fadeInUp" data-wow-delay="0.7s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                    <ul class="phonebtns wow fadeInUp" data-wow-delay="0.8s">
                        <li><a href="javascript:void(0)"><img src="assets/imgs/appm.png" alt="app"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/google.png" alt="google"></a></li>
                    
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInRight" data-wow-delay="0.3s" style="padding-top: 20px;">
                        <img src="assets/imgs/app.png" alt="truck">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon serviceCon5">
                        <h2 class="border-bottom2 wow fadeInUp" data-wow-delay="0.4s">Heading</h2>
                      
                        <p class="head wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                    <ul class="phonebtns wow fadeInUp" data-wow-delay="0.3s">
                        <li><a href="javascript:void(0)"><img src="assets/imgs/appm.png" alt="app"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/google.png" alt="google"></a></li>
                    
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInLeft" data-wow-delay="0.3s" style="padding-top: 20px;">
                        <img src="assets/imgs/app.png" alt="truck">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon serviceCon5">
                        <h2 class="border-bottom2 wow fadeInUp" data-wow-delay="0.3s">Heading</h2>
                      
                        <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                    <ul class="phonebtns wow fadeInUp" data-wow-delay="0.7s">
                        <li><a href="javascript:void(0)"><img src="assets/imgs/appm.png" alt="app"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/google.png" alt="google"></a></li>
                    
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="serSlider ourservices">
            <div class="row" style="align-items: center;">
                <div class="col-sm-5">
                    <div class="serviceImg wow fadeInLeft" data-wow-delay="0.3s" style="padding-top: 20px;">
                        <img src="assets/imgs/app.png" alt="truck">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="serviceCon serviceCon5">
                        <h2 class="border-bottom2 wow fadeInUp" data-wow-delay="0.4s">Heading</h2>
                      
                        <p class="head wow fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                        <h4 class="wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet.</h4>
                        <p class="head">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.</p>
                    <ul class="phonebtns wow fadeInUp" data-wow-delay="0.7s">
                        <li><a href="javascript:void(0)"><img src="assets/imgs/appm.png" alt="app"></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/google.png" alt="google"></a></li>
                    
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer>

</app-footer>