<app-header></app-header>

<section class=" headerHight">
    <div class="truckimg ">
        <div class="container">
            <img src="assets/imgs/trk.png" alt="trk">
        </div>
    </div>
<div class="container">
    <div class="ftlService">
        <h2 class="third wow fadeInUp" data-wow-delay="0.3s">FTL Service</h2>
        <p class="tc wow fadeInUp" data-wow-delay="0.4s">Full Truck Load</p>
        <p class="head wow fadeInUp" data-wow-delay="0.5s">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed

        </p>
        <p class="head wow fadeInUp" data-wow-delay="0.6s">
            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor
            sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
        </p>
        <div class="row abtswrvice">
            <div class="col-sm-6">
                <div class="serviceImg serviceImg2 wow fadeInLeft" data-wow-delay="0.7s">
                    <img src="assets/imgs/abt1.png" alt="abt">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="serviceImg serviceImg2 wow fadeInRight" data-wow-delay="0.8s">
                    <img src="assets/imgs/abt2.png" alt="abt">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="serviceImg serviceImg2 wow fadeInLeft" data-wow-delay="0.9s">
                    <img src="assets/imgs/abt3.png" alt="abt">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="serviceImg serviceImg2 wow fadeInRight" data-wow-delay="0.10s">
                    <img src="assets/imgs/abt4.png" alt="abt">
                </div>
            </div>
        </div>
        <p class="head wow fadeInUp" data-wow-delay="0.3s">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed

        </p>
        <p class="head wow fadeInUp" data-wow-delay="0.4s">
            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor sit amet
        </p>
        <p class="head wow fadeInUp" data-wow-delay="0.5s">consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor
            sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
    </div>
</div>
</section>

<section class="services padding75">
    <div class="container">
        <div class="serviceInner">
            <h2 class="second wow fadeInUp" data-wow-delay="0.3s"><span>System Overview</span></h2>
            <p class="head wow fadeInUp"  data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
        <div class="row systemOverview">
            <div class="col-sm-6" style="background: #000;padding: 0;">
                <div class="systemIn">
                    <ul>
                        <li>
                            <img src="assets/imgs/user.svg" alt="user" class="wow fadeInUp" data-wow-delay="0.3s" style="width: 45px;">
                            <p class="wow fadeInUp" data-wow-delay="0.4s">Total Users</p>
                            <h3 class="wow fadeInUp" data-wow-delay="0.5s">12,25,123</h3>
                        </li>
                        <li>
                            <img src="assets/imgs/dri.svg" class="wow fadeInUp" data-wow-delay="0.3s" alt="user" style="width: 45px;">
                            <p class="wow fadeInUp" data-wow-delay="0.4s">Total Drivers</p>
                            <h3 class="wow fadeInUp" data-wow-delay="0.5s">15,1232</h3>
                        </li>
                        <li>
                            <img src="assets/imgs/order.svg" class="wow fadeInUp" data-wow-delay="0.3s" alt="user" style="width: 45px;">
                            <p class="wow fadeInUp" data-wow-delay="0.4s">Total Orders</p>
                            <h3 class="wow fadeInUp" data-wow-delay="0.5s">5,123</h3>
                        </li>
                    </ul>
                    <ul class="ul">
                        <li>
                            <img src="assets/imgs/order.svg" class="wow fadeInUp" data-wow-delay="0.3s" alt="user" style="width: 45px;">
                            <p class="wow fadeInUp" data-wow-delay="0.4s">Active Orders</p>
                            <h3 class="wow fadeInUp" data-wow-delay="0.5s">12,25,123</h3>
                        </li>
                        <li>
                            <img src="assets/imgs/order.svg" class="wow fadeInUp" data-wow-delay="0.3s" alt="user" style="width: 45px;">
                            <p class="wow fadeInUp" data-wow-delay="0.3s">Completed Orders</p>
                            <h3 class="wow fadeInUp" data-wow-delay="0.4s">15,1232</h3>
                        </li>
                        <li>
                            <img src="assets/imgs/km.svg" class="wow fadeInUp" data-wow-delay="0.3s" alt="user" style="width: 45px;">
                            <p class="wow fadeInUp" data-wow-delay="0.4s">Total Km Drive</p>
                            <h3 class="wow fadeInUp" data-wow-delay="0.5s">12,25,123</h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0;">
                <div class="truckImg hundred wow fadeInUp"  data-wow-delay="0.4s" style="margin: 0;">
                    <img src="assets/imgs/tr.png" class="hundred" alt="tr">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services padding75">
    <div class="container">
        <div class="serviceInner">
            <h2 class="second wow fadeInUp" data-wow-delay="0.3s"><span>Testimonials</span></h2>
            <p class="head wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
    </div>
    <div class="testimonals">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-sm-4">
                    <div class="testimonalsIn">
                        <div class="testimonalInner">
                            <div class="reviewImg">
                                <img src="assets/imgs/girl.png" alt="profile">
                            </div>
                            <div class="testimonalRight">
                                <h2>Divya Goswami</h2>
                                <p class="midl">DivyaGoswami@gmail.com</p>
                                <p>New Delhi, India</p>
                            </div>
                            <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonalsIn">
                        <div class="testimonalInner">
                            <div class="reviewImg">
                                <img src="assets/imgs/girl.png" alt="profile">
                            </div>
                            <div class="testimonalRight">
                                <h2>Divya Goswami</h2>
                                <p class="midl">DivyaGoswami@gmail.com</p>
                                <p>New Delhi, India</p>
                            </div>
                            <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonalsIn">
                        <div class="testimonalInner">
                            <div class="reviewImg">
                                <img src="assets/imgs/girl.png" alt="profile">
                            </div>
                            <div class="testimonalRight">
                                <h2>Divya Goswami</h2>
                                <p class="midl">DivyaGoswami@gmail.com</p>
                                <p>New Delhi, India</p>
                            </div>
                            <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer>

</app-footer>